body {
    /* background-color: rgb(49, 49, 49); */
    background-image: url('https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fHNob3BwaW5nJTIwbG9naW4lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Sign-Up Form Container */
.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Form Header */
.signup-header {
    text-align: center;
    margin-bottom: 20px;
}

/* Form Fields */
.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: 94%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Sign-Up Button */
.signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Sign In Link */
.signin-link {
    text-align: center;
    margin-top: 15px;
}

.signin-link a {
    color: #008CBA;
    text-decoration: none;
}

.signin-link a:hover {
    text-decoration: underline;
}
